/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Garrett Matthews
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */
/* 1. Imports*/
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');
@import url('normalize.css');




/* 2. General */

body{
    font-family: Helvetica, sans-serif;
}
h2,h3,h4,h5,h6{
    font-family: Sansita, sans-serif;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
header{
    background-color: rgb(0, 162, 255);
    text-align: left;
    font-size: 25px;
}
footer{
    background-color: rgb(0, 162, 255);
    text-align: left;
}
#sitelogo{
    width: 64px;
    height: 64px;
    padding-top: 10px;
    padding-left: 10px;
}
.tile{
    border-radius: 25px;
    border: 2px solid rgb(0, 0, 0);
    padding: 10%;
    background-color: rgb(219, 219, 219);
    text-align: center;
    opacity: 0.75;
   
}
#temp_list, #maxmin_temp{
    list-style: none;
}
#hour_block{
    overflow: auto;
    white-space: nowrap;
    height: 50px;
}
#current_temp{
    font-size: 75px;
}
#max_temp{
    color: red;
}
#min_temp{
    color: blue;
}
#nav_bar{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 162, 255);

}
.navlink{
    display: inline;
    background-color: rgb(0, 162, 255);
    padding: 8px;
    
}
#hourly_data{
    text-align: center;
}
.hourDataPoints{
    display: inline-block;
    padding-right: 3px;
}
#dial {
    height: 150px;
    width: 150px;
    background: no-repeat center/85% url('/weather/images/wind-pointer.png');
    z-index: 100;
    margin: -.6em auto 0;
   }
/*Wind pointer direction and degree translation*/
.n{
   transform: rotate(0deg);
}
.ne{
   transform: rotate(45deg);
}
.e{
   transform: rotate(90deg);
}
.se{
   transform: rotate(135deg);
}
.s{
   transform: rotate(180deg);
}
.sw{
   transform: rotate(225deg);
}
.w{
   transform: rotate(270deg);
}
.nw{
   transform: rotate(315deg);
}
#curWeather {
    background-size: cover;
   }
   
/* Background pictures for summary */
.clear {
    background-image: url("clear_250.jpg");
    background-size: cover;
    min-width: 200px;
    min-height: 200px;
}
.rain {
    background-image: url("rain_250.jpg");
    background-size: cover;
    min-width: 200px;
    min-height: 200px;
}
.clouds {
    background-image: url("clouds_250.jpg");
    background-size: cover;
    min-width: 200px;
    min-height: 200px;
}
.fog {
    background-image: url("fog_250.jpg");
    background-size: cover;
    min-width: 200px;
    min-height: 200px;
}
.snow {
    background-image: url("snow_250.jpg");
    background-size: cover;
    min-width: 200px;
    min-height: 200px;
}
li a{
    color: white;
    padding: 14px 16px
}
.hide{
    display: none;
}
/*widescreen*/
@media screen and (min-width: 600px){
    div{
        display:flex;
        flex-direction:row;
    }
}
/* Mobile*/
@media screen and (max-width: 600px){
    nav{
        position: fixed;
        bottom: 0;
        width: 100%;
        opacity:1;
        z-index: 1
    }
}