/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Garrett Matthews
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */
/* 1. Imports*/
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');
@import url('normalize.css');




/* 2. General */

body{
    font-family: Helvetica, sans-serif;
}
h2,h3,h4,h5,h6{
    font-family: Sansita, sans-serif;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
header{
    background-color: rgb(0, 162, 255);
    text-align: left;
    font-size: 25px;
}
footer{
    background-color: rgb(0, 162, 255);
    text-align: left;
}
#sitelogo{
    width: 64px;
    height: 64px;
    padding-top: 10px;
    padding-left: 10px;
}
.tile{
    border-radius: 25px;
    border: 2px solid rgb(0, 0, 0);
    padding: 10%;
    background-color: rgb(219, 219, 219);
    text-align: center;
   
}
#temp_list, #maxmin_temp{
    list-style: none;
}
#hour_block{
    overflow: scroll;
}
#current_temp{
    font-size: 75px;
}
#max_temp{
    color: red;
}
#min_temp{
    color: blue;
}
.navlink{
    display: inline;
    background-color: rgb(0, 162, 255);
    padding: 8px;
    
}
li a{
    color: white;
    padding: 14px 16px
}
/*widescreen*/
@media screen and (min-width: 600px){
    div{
        display:flex;
        flex-direction:row;
    }
}
/* Mobile*/
nav{
    position: fixed;
    bottom: 0;
    width: 100%;
}